.cartWidget {
    position: relative;
    cursor: pointer;
    text-align: center;
    display: flex;
  }
  
  .qtyisplay {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 17px;
  }

  .cartIcon{
    width: 30px;
    height: 30px;
  }
  