.detailDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    max-width: 50vw;
    
}

.detailImg {
    max-height: 40vh;
    width: auto;
    object-fit:contain; 
    
}

.detailP {
    text-align: left;
}
